[FD.OVMF]
#FIXME: the following configuration values are hardcoded. Please change them accordingly!
BaseAddress   = 0xFFF00000
Size          = 0x00100000
ErasePolarity = 1
BlockSize     = 0x1000
NumBlocks     = 0x100

% for v in firmwareImage.firmwareVolumes:
${hex(v.Base)}|${hex(v.HeaderLength + v.DataLength)}
FV = FV_${v.volumeIndex}
% endfor

${firmwareVolumes}
