<% import EFI %>\
% if section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_COMPRESSION:
  SECTION COMPRESS ${compressionType} {
    ${subsections}
  }
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_GUID_DEFINED:
  SECTION GUIDED ${str(section.Guid).upper()} PROCESSING_REQUIRED = TRUE {
  	${subsections}
  }
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_PE32:
  SECTION PE32 = ${curDir}/PE32
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_PIC:
  !!!PIC SECTION NOT YET IMPLEMENTED!!!
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_TE:
  !!!TE SECTION NOT YET IMPLEMENTED!!!
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_DXE_DEPEX:
  SECTION DXE_DEPEX = ${curDir}/DXE_DEPEX
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_VERSION:
  SECTION VERSION = "${section.VersionString}"
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_USER_INTERFACE:
  SECTION UI = "${section.String}"
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_COMPATABILITY16:
  !!!CSM SECTION NOT YET IMPLEMENTED!!!
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_FIRMWARE_VOLUME_IMAGE:
  SECTION FV_IMAGE = ${fvname}
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_FREEFORM_SUBTYPE_GUID:
  SECTION SUBTYPE_GUID ${str(section.Guid).upper()} {
  	${curDir}/freeform_guid_defined_${str(section.Guid)}
  }
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_RAW:
  SECTION RAW = ${curDir}/RAW
% elif section.SectionType == EFI.EfiSection.EFI_SECTIONTYPES.EFI_SECTION_PEI_DEPEX:
  SECTION PEI_DEPEX = ${curDir}/PEI_DEPEX
% endif